.top-bar-header {
    align-items: center;
    justify-content: space-between;
    text-align: center;

    color: var(--placeholder);


    .top-bar__phone {
        // .active-link {
        //         background-color: var(--text-color);
        //         background-image: linear-gradient(to right, #E56466 50%, transparent 50%);
        //         background-size: 200% 100%;
        //         background-position: right;

        //         -webkit-background-clip: text;
        //         -webkit-text-fill-color: transparent;

        //         transition: background-position 0.5s ease-out;

        //         &:hover {
        //             background-position: left;
        //         }
        //     }
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        gap: 8px;


        font-family: Roboto;
        font-size: 12px;

        &>.phone-link {
            display: inline-flex;
            align-items: center;

            gap: 8px;

            height: 22px;

            background-color: var(--placeholder);
            background-image: linear-gradient(to right, var(--primary-red-hover) 50%, transparent 50%);
            background-size: 200% 100%;
            background-position: right;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            transition: background-position 0.5s ease-out;

            &>svg {
                height: 22px;
                width: 22px;

                stroke: var(--placeholder);
                transition: stroke 0.5s ease-out;
            }

            &:hover {
                background-position: left;

                &>svg {
                    stroke: var(--primary-red-hover);
                }
            }
        }

        &>.phone-btn {
            color: var(--svg-hover-pagintaion);

            cursor: pointer;

            transition: color 0.5s ease-out;

            &:hover,
            &:focus {
                color: var(--primary-red-hover);
            }
        }

    }



    .top-bar-link__list {
        display: flex;
        align-items: center;

        gap: 28px;
    }

    .top-bar-link__item {
        font-family: Roboto;
        font-size: 14px;
        line-height: 1.5;

        &>a {
            background-color: var(--placeholder);
            background-image: linear-gradient(to right, var(--primary-red-hover) 50%, transparent 50%);
        }

        &.promotional>a {
            background-color: var(--primary-red);
        }
    }
}