.promo-banners {
    padding-block: 176px 78px;
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 20px;
        .promo-banner {
            flex: 1 0 calc(50% - 20px);
            position: relative;
            aspect-ratio: 1.94;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgba(255, 255, 255, 0.4);
            }
            &-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                padding-inline: 14.375%;
                color: var(--text-color-input);
            }
            &-title {
                font-weight: 600;
                font-size: 1.625rem;
                line-height: 1.3;
                margin-bottom: 8px;
            }
            &-description {
                font-size: 0.875rem;
                line-height: 1.5;
                margin-bottom: 40px;
            }
            &-button {
                width: 72.37%;
                cursor: pointer;
                border: none;
                padding: 10px;
                height: 41px;
                transition: background-color 0.3s ease;
                background-color: var(--primary-red);
                text-align: center;
                text-transform: uppercase;
                color: var(--background-color);
                font-weight: 600;
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--primary-red-hover);
                    }
                }
                @media (hover: none) {
                    &:active {
                        background-color: var(--primary-red-hover);
                    }
                }
            }
            &-image {
                width: 100%;
                height: auto;
                z-index: -1;
                object-fit: cover;
                display: block;
            }
        }
    }
}
@media (min-width: 1024px) {
    .promo-banners {
       display: block;
    }
}