.main-header-client {
    position: relative;

    display: grid;
    grid-template-columns: 4.75rem 1fr 4.75rem;
    align-items: center;
    gap: 0.9375rem;

    padding: 15px 16px;

    border-bottom: 1px solid var(--stoke);

    @media screen and (min-width: 768px) {
        border-bottom: none;
        grid-template-columns: 9.375rem 1fr 9.375rem;
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: 19.375rem 1fr 19.375rem;
    }

    .burger-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        border: none;
        background-color: transparent;

        height: 24px;
        width: 24px;

        cursor: pointer;

        &>svg {
            stroke: var(--svg-hover-pagintaion);
        }
    }

    .logo--header {
        justify-self: center;
        display: inline-flex;
        align-items: center;

        width: 80px;
        height: 32px;

        @media screen and (min-width: 768px) {
            width: 200px;
            height: 98px;
        }
    }
}