.product-card {
    flex-shrink: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    row-gap: 12px;
    height: 100%;
    // border-radius: 10px;
    transition: all 0.3s;

    max-width: 47%;
    &.full {
        // border-radius: 10px 10px 0 0;
    }
    &-favorites {
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 10;
        svg {
            width: 20px;
            height: 20px;
            fill: transparent;
            transition: all 0.2s; 
            stroke: #5D5D5D;
            path {
                stroke-width: 1;
            }
        }
    };

    &-img {
        position: relative;
        width: 100%;
        aspect-ratio: 0.75;
        overflow: hidden;
        // border-radius: 10px 10px 0 0;
        // transition: all 0.3s;
        & img {
            object-fit: cover;
        }
        &.square {
            margin-block: 35px 18px;
            width: calc(100% - 8px);
            aspect-ratio: 1;
            & img {
                object-fit: cover;
                left: 4px;
                right: 4px;
            }
        }
    };
    &-back {
        display: none;
        transition: all 0.3s;
    }
    &-content {
        position: relative;
        width: 100%;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-items: center;  

        &-top {
            width: 100%;
        };
        &-middle {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
        };
        &-bottom {
            width: 100%;
            & > button  {
                width: 100%;
            }
        }
    }
    &-title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        min-height: 54px;
        font-size: 12px;
        transition: all 0.3s;

    }
    &-subtitle {
        width: 100%;
        text-align: center;
        min-height: 54px;
        font-size: 10px;
    }
    &-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        font-size: 8px;
        & svg {
            width: 14px;
            height: 14px;
        }
        & a:hover {
            text-decoration: underline;
        }
    }
    &-price {
        font-size: 12px;
        line-height: 1.5;
        font-weight: 600;
        &> span {
            font-weight: 400;
        }
    }
    &-oldprice {
        padding-left: 12px;
        color: var(--placeholder);
        text-decoration:line-through;
    }
}
@media screen and (min-width: 768px) {
    .product-card {
        max-width: 270px;
        &-favorites {
            top: 10px;
            right: 10px;
            svg {
                width: 22px;
                height: 22px;
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .product-card {
        &-favorites {
            top: 16px;
            right: 16px;
            svg {
                width: 24px;
                height: 24px;
            }
        }
        &-content {
            row-gap: 20px;
        }

        &-title, &-subtitle {
            font-size: 14px;
            min-height: 63px;
        }
        &-price {
            font-size: 14px;
        }
        &-rating {
            font-size: 12px;
            & svg {
                width: 16px;
                height: 16px;
            }
        }
        &-img.square {
            margin-block: 50px;
        }
        max-width: 250px;
        row-gap: 20px;
    }
}
@media (hover:hover) {
    html[data-theme="dark"] .product-card {   
        &:hover {
            box-shadow: unset;
            .product-card-back {
                opacity: 0.4;
                top: -10%;
                left: 10%;
                width: 80%;
                height: 110%;
            }
        }
    }
    .product-card {
        // transition: all 0.3s;
        &:hover {
            // box-shadow: var(--card-shadow);
            box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.11),  0px 4px 4px 0px rgba(0, 0, 0, 0.11);


            // scale: 101%;
   
            .product-card-img  {
                // scale: 102%
            }
            .product-card-title  {
                // scale: 102%
            }
        }
        
        &-favorites > svg:hover {
            fill: var(--primary-red-hover);
            stroke: var(--primary-red-hover);
            cursor: pointer;
        }
    }
}
@media (hover:none) {
    html[data-theme="dark"] .product-card {   
        &:active {
            box-shadow: unset;
            .product-card-back {
                opacity: 0.5;
                filter: blur(35px);
                width: 70%;
            }
        }
    }
    .product-card {
        &:active {
            box-shadow: var(--card-shadow);
        }
        &-favorites > svg:active {
            fill: var(--primary-red-hover);
            stroke: var(--primary-red-hover);
            cursor: pointer;
        }
    }
}
html[data-theme="dark"] .product-card {
    &-back {
        display: unset;
        position: absolute;
        top: 0;
        left: 15%;
        background: var(--primary-red);
        background: -webkit-radial-gradient(circle, #e56466 70%, transparent 100%);
        background: radial-gradient(circle, #e56466 70%, transparent 100%);
        // opacity: 0.35;
        // filter: blur(45px) drop-shadow(16px 16px 20px var(--primary-red));
        filter: blur(20px);
        opacity: 0.30;
        height: 90%;
        width: 70%;
        z-index: -1;
    }
    &-content-bottom > button {
        background-color: var(--text-color-light);
        color: #363636;
    
        &:hover {
            background-color: #b8b8b8;
            text-shadow: 0 0 5px white;
        }
    }
}