.container-main-faq {
  opacity: 0;
  visibility: hidden;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
  overflow: hidden;
  padding: 92px 0px;

  .title-main-faq {
    font-size: 26px;
    font-weight: 600;
    line-height: 130%; /* 33.8px */
    padding: 10px 0;
  }

  .wrapper-list-faq {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 17%;
   
    li {
      flex: 1 1 420px;
      display: flex;
      flex-direction: column;
      max-width: 528px;
      gap: 32px;
    }
  }
}

@media (max-width: 768px) {
  .container-main-faq {
    display: none;
  }
}