* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}
body > section{
    width: 100vw - 17px;
    overflow-x: clip;
}
:root {
    --index: calc(1vw + 1vh);
    background-color: #ffffff;
    --background-color: #ffffff;
    --background-modal: rgba(0, 0, 0, 0.2);
    --background-color-dark: #cfcfd5;
    --text-color: #363636;
    --text-color-input: #363636;
    --svg-img: brightness(0);
    --svg-img-hover: brightness(0) invert(1);
    --nav-dot: #959595;
    --nav-dot-active: #363636;

    --svg-colot-pagination: #e0e0e0;
    --svg-hover-pagintaion: #363636;
    --border-buttom-pagintaion: #e0e0e0;
    --pagination-disabled: #6f6b6b;
    --primary-red: #e56466;
    --primary-red-hover: #d94a4a;
    --color-stroke: #b8b8b8;
    --card-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.11),  0px 4px 4px 0px rgba(0, 0, 0, 0.11);
    /* ------------------ */
    --text-color-light: white;
    --input-background: transparent;
    --light-red: #f1b0b1;
    --stoke: #b8b8b8;
    --placeholder: #A0A0A0;
    --input-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
    --index: calc(1vw + 1vh);
    background-color: #181818;
    --background-color: #181818;
    --background-color-dark: #403030;
    --background-modal: rgba(255, 255, 255, 0.2);
    --text-color: #fffefe;
    --nav-dot:#959595;
    --nav-dot-active:#959595;
    --svg-img: brightness(0) invert(1);
    --svg-img-hover: brightness(0);
    --input-background: #f5f5f5;
    --color-stroke: #b8b8b8;
    --card-shadow: none;
    --placeholder: #959595;
    
}

/*  font-size: calc(var(--index) * 1); */

.container-admin-main {
    display: flex;
  }

.main-container {
    max-width: 1440px;
    width: 100%;
    padding-inline: var(--main-container-inline-padding);
    margin: 0 auto;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    list-style: none;
}

@media (max-width: 768px) {
    :root {
        --main-container-inline-padding: 18px;
    }
    .desktop-only {
        display: none;
    }
}

@media (min-width: 768px) {
    :root {
        --main-container-inline-padding: 70px;
    }
    .mobile-only {
        display: none;
    }
}
