.mobile-menu__container {
    scrollbar-width: thin;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    transform: translateY(100%);

    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - 100%);

    padding: 20px 0;

    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;

    color: var(--text-color);
    background-color: white;
    border-top: 1px solid var(--stoke);

    @media screen and (max-height:650px) {
        overflow-y: scroll;
    }


    .extra-menu__list {
        padding: 0 16px;
    }

    .extra-menu__item>a {
        text-transform: uppercase;

        margin-bottom: 6px;


        background-color: var(--text-color);
        background-image: linear-gradient(to right, var(--primary-red-hover) 50%, transparent 50%);
    }

    .extra-menu__item.promotional>a {
        background-color: var(--primary-red);
    }

}