@import '@/app/variables.module.scss';

.container-header-client {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  background: white;

  @media screen and (min-width: $desktop) {
    padding: 0 70px;
  }

  .top-bar-header {
    display: flex;
    flex-direction: row;

    width: 100%;
  }

  &>* {
    a {
      color: inherit;
      text-decoration: none;
    }

    li {
      list-style: none;
    }
  }
}