.container-header-client {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;


  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;

  @media screen and (min-width: 768px) {
    padding: 0 70px;
  }

  .top-bar-header {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;

      width: 100%;
    }
  }


  &>* {
    a {
      color: inherit;
      text-decoration: none;
    }

    li {
      list-style: none;
    }
  }

  .sticky-header {
    display: none;
    // max-height: 0;
    // overflow: hidden;
    // transition: ease 0.4s;

    // &--scrolled {
    //   max-height: 100%;
    //   overflow: visible;
    // }



    align-items: center;

    justify-content: space-between;

    &>.logo--header {
      &>svg {
        height: 32px;
      }
    }

    &>.user-nav__list {
      gap: 6px
    }

    &>.nav-bar__list {
      padding: 6px 0;

      &>.nav-bar__item>.sub-nav__list {
        width: 100vw;
        left: -70px;
      }
    }
  }
}