.star-rating {
  display: flex;
  justify-content: space-between;
}

.back-stars {
  display: flex;
  position: relative;
  & > svg{
    width: 12px;
    height: 12px;
  }
  overflow: hidden;
  @media (min-width: 768px) {
    & > svg {
      width: 14px;
      height: 14px;
    }
  }
}

.front-stars-wrapper {
  overflow: hidden;
  position: absolute;
  top: 0;
}
.front-stars {
  & > svg{
    width: 12px;
    height: 12px;
  }
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: all 0.5s;
  @media (min-width: 768px) {
    & > svg {
      width: 14px;
      height: 14px;
    }
  }
}
